.toolbar {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #303030;
    color: chartreuse;
}
.toolbar .menu_icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.menu_icon.large_icon{
    width: 34px;
    height: 34px;
    margin-right: 10px;
}
.toolbar .large_icon{
    margin-top: 2px;
}
.toolbar .btn_group{
    height: 100%;
    float: left;
    overflow: hidden;
}
.btn_zoom_group .menu_icon{
    margin-top: 5px;
}
.menu_icon.icon_mini{
    background-image: url('../../../assets/images/mini.png');
}
.menu_icon.icon_max{
    background-image: url('../../../assets/images/max.png');
}

/* 放大滑块 */
.zoom_line_box{
    width: 80px;
    height: 100%;
    /*background: #919191;*/
    margin: 0 10px 0;
    float: left;
    position: relative;
}
.zoom_line_box .el-slider{
    margin-top: 2px;
}
.zoom_line_box .el-slider .el-tooltip{
    margin-top: -6px;
}
.zoom_line_box .el-slider__runway{
    height: 2px;
    margin-right: 0;
}
.zoom_line_box .el-slider__bar{
    background: #919191;
    height: 2px;
}
.zoom_line_box .el-slider__button{
    background: #919191;
}
.zoom_line_box .el-input-number.el-input-number--small.el-slider__input{
    display: none;
}
/* 放大滑块end */

.btn_step_group{
    margin: 0 60px;
}
.menu_icon.icon_revoke{
    background-image: url('../../../assets/images/back.png');
    margin-right: 20px;
}
.icon_revoke:hover{
    background-image: url('../../../assets/images/back-hover.png');
    /*background: red;*/
}
.menu_icon.icon_refresh{
    background-image: url('../../../assets/images/reform.png');
}
.icon_refresh:hover{
    background-image: url('../../../assets/images/reform-hover.png');
}

.menu_icon.icon_cutLeft{
    background-image: url('../../../assets/images/frontcut.png');
}
.icon_cutLeft:hover{
    background-image: url('../../../assets/images/frontcut-hover.png');
}
.menu_icon.icon_cutRight{
    background-image: url('../../../assets/images/behindcut.png');
}
.icon_cutRight:hover{
    background-image: url('../../../assets/images/behindcut-hover.png');
}

.menu_icon.icon_magIn{
    background-image: url('../../../assets/images/frontmag.png');
}
.icon_magIn:hover{
    background-image: url('../../../assets/images/frontmag-hover.png');
}
.menu_icon.icon_magOut{
    background-image: url('../../../assets/images/behindmag.png');
}
.icon_magOut:hover{
    background-image: url('../../../assets/images/behindmag-hover.png');
}
.menu_icon.icon_cut{
    background-image: url('../../../assets/images/cut.png');
}
.icon_cut:hover{
    background-image: url('../../../assets/images/cut-hover.png');
}

.menu_icon.icon_cover{
    width: 50px;
    margin-left: 10px;
    background-image: url('../../../assets/images/cover.png');
}
.icon_cover:hover{
    background-image: url('../../../assets/images/cover-hover.png');
}
.menu_icon.icon_crush{
    width: 50px;
    margin-left: 10px;
    background-image: url('../../../assets/images/crush.png');
}
.icon_crush:hover{
    background-image: url('../../../assets/images/crush-hover.png');
}


/* 项目按钮*/

.btn_project{
    float: right;
    margin-right: 390px;
}

.menu_icon.icon_pointIn{
    background-image: url('../../../assets/images/enter-hover.png');
}
.menu_icon.icon_pointOut{
    background-image: url('../../../assets/images/extra-hover.png');
}

.menu_icon.icon_save{
    margin-left: 10px;
    background-image: url('../../../assets/images/save-hover.png');
}
.menu_icon.icon_export{
    background-image: url('../../../assets/images/export-hover.png');
}

.zoomNum{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    display: none;
}