.videoPlayers_wrapper{
    position: fixed;
    top: 160px;
    right: 0;
    z-index: -1;
    width: 400px;
    background: rebeccapurple;
    /*display: none;*/
}
.video_wrapper video{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.video_playing {
    z-index: 10;
}