.pathWay{
    height: calc(100% - 40px);
}
.pathWay_inner{
    /*margin-left: 60px;*/
    padding-bottom: 10px;
    overflow-x: scroll;
    position: relative;
    /*overflow-y: auto;*/
}
.time_axis_box{
    height: 60px;
    background: cornflowerblue;
    position: relative
}
.time_axis_box>div{
    height: 100%;
}
.zoom_scale{
    width: 60px;
    line-height: 60px;
    float: left;
    /*position: absolute;*/
    /*left: -60px;*/
    /*top: 0;*/
    z-index: 1;
    background: cornsilk;
}
.time_axis{
    /*background: cornsilk;*/
    position: relative;
    margin-left: 60px;
}
.track{
    height: 50px;
}
.track > div{
    height: 100%;
}
.track .track_type{
    float: left;
}
.track .track_body{
    /*width: 100%;*/
    margin-left: 60px;
    border: 1px  solid #333;
    box-sizing: border-box;
    position: relative;
}
.activeDrag.track_body{
    border-color: chartreuse;
}


/*===============================*/

.truck_inlineBlock{
    position: absolute;
    top:0;
    height: 100%;
    background: #13ce66;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.slide_active{
    border: 1px solid red;
}