.pathWay{
    overflow-x: scroll;
    overflow-y: hidden;
}
.time_axis_box{
    height: 60px;
    background: cornflowerblue;
}
.time_axis_box>div{
    height: 100%;
}
.zoom_scale{
    width: 60px;
    line-height: 60px;
    float: left;
}
.time_axis{
    margin-left: 60px;
    background: cornsilk;
    position: relative;
    min-width: calc(100% - 60px);
}
.needle{
    width: 2px;
    height: 120px;
    position: absolute;
    top:0;
    left: 0;
    background: rebeccapurple;
}
.pathWay_item{
    height: 50px;
}
.pathWay_item > div{
    height: 100%;
}
.pathWay_item .pathWay_type{
    float: left;
}
.pathWay_item .pathWay_item_body{
    margin-left: 60px;
    border: 1px  solid #333;
}
.activeDrag.pathWay_item_body{
    border-color: chartreuse;
}