.pathWay_wrapper{
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}
.pathWay{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    overflow: auto;
}
.pathWay_inner{
    min-width: 100%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.track{
    height: 44px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #232323;
    position: relative;
}
.track.Video{
    height: 74px;
    background: #171717;
    border-color: transparent;
}
/* 轨道头部*/

.track .track_head{
    width: 44px;
    height: 100%;
    float: left;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid;
}
.track_head:hover{
    background: #313131;
    cursor: pointer;
    border-color: #b1b1b1;
}
.track_head:hover .track_toolbar {
    display: block;
}
.track_head .track_icon{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.track .menu_icon{
    width: 22px;
    height: 22px;
}
.Video .track_icon{
    background-image: url('../../../assets/images/media_truck.png');
}
.Yt .track_icon{
    background-image: url('../../../assets/images/material.png');
}
.Audio .track_icon{
    background-image: url('../../../assets/images/music.png');
}




.track .track_body{
    height: 100%;
    margin-left: 64px;
    box-sizing: border-box;
    position: relative;
}
.activeDrag.track_body{
    background-color: #7f7f7f;
}
.track_toolbar{
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 101;
    padding-left: 20px;
    display: none;
}
.track_toolbar_inner{
    width: 102px;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #313131;
    border:  1px solid #b1b1b1;
    border-radius: 4px;
}
.track_toolbar .menu_icon{
    width: 20px;
    margin: 0 10px;
    height: 100%;
}
.track_toolbar .track_add {
    background-image: url('../../../assets/images/plus.png');
}
.track_toolbar .track_del{
    background-image: url('../../../assets/images/delet.png');
}

/*==========轨道素材单元=====================*/

.clip_item{
    height: 100%;
    color: #fbfbfb;
    position: absolute;
    top:0;
    border-radius: 4px;
    background: chartreuse;
    overflow: hidden;
}
.clip_inner {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
    background: #b899f2;
}
.clip_item:hover .resize_handel{
    visibility: visible;
}
.clip_active .clip_inner{
    border-color: #ffc000;
}
.clip_item_img{
    width: 44px;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.clip_item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.clip_item_desc{
    line-height: 40px;
}
.Video .clip_item_desc{
    line-height: 70px;
}
.Video .clip_item_img{
    width: 74px;
    /*height: 74px;*/
}

/*  指针 */
.needle{
    width: 2px;
    height: calc(100% - 24px);
    margin-left: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #909090;
    cursor: move;
}

.needle_handle{
    width: 14px;
    height: 24px;
    background-image: url('../../../assets/images/timer1.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
}
.needle:hover .needle_handle{
    /*background-image: url('../../../assets/images/timer1-hover.png');*/
}

/*进出点*/
.in_out{
    width: 100%;
    position: absolute;
    top: 0;
    left: 64px;
    z-index: 1;
}
.inPoint,.outPoint{
    position: absolute;
    top:0;
    width: 16px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}
.inPoint{
    /*margin-left: -3px;*/
    background-image: url('../../../assets/images/inpoint.png');
}
.outPoint{
    margin-left: -14px;
    background-image: url('../../../assets/images/outpoint.png');
}

/* 视频轨道内节点拉伸*/

.resize_handel{
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    cursor: e-resize;
    /*background: #ffc000;*/
    /*background: #ffc000;*/
    border-top: 2px solid #ffc000;
    border-bottom: 2px solid #ffc000;
    box-sizing: border-box;
    visibility: hidden;
}
.resize_handel.left{
    left: 0;
    border-left: 2px solid #ffc000;
}
.resize_handel.right{
    right: 0;
    border-right: 2px solid #ffc000;
}